@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@300;400;700&family=Hanken+Grotesk:wght@800&family=Inter:wght@500;600&family=Lato:ital,wght@0,700;1,400&family=Lexend+Deca&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,300;0,600;1,500&family=Open+Sans:wght@300;400;600&family=Outfit:wght@200;300;800&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400;1,700;1,800&family=Red+Hat+Display:wght@300;400&family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@300;400;700&family=Hanken+Grotesk:wght@800&family=Inter:wght@500;600&family=Lato:ital,wght@0,700;1,400&family=Lexend+Deca&family=Lora:wght@600;700&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,300;0,600;1,500&family=Open+Sans:wght@300;400;600&family=Outfit:wght@200;300;800&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400;1,700;1,800&family=Red+Hat+Display:wght@300;400&family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

:root{
  --lora: 'Lora', serif;
  --inter: 'Inter', sans-serif;

  --colorText: #2F2F2F;
  --borderIcons: #EAEAEA; 
}
/*Header*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58.5%;
  margin: auto;
  margin-top: 45px;
}
#searchAndUserLogin{
  display: flex;
  align-items: center;
  width: 308px;
  justify-content: space-between;
}
/*logo*/
h2{
  font-family: var(--lora);
  font-size: 32px;
  color: var(--colorText);
}
/*Icons header*/
#search{
  padding: 12px;
  border-radius: 50%;
  border: solid 2px var(--borderIcons);
  background-color: #fff;
  cursor: pointer;
}
#loginUser{
  background-color: #fff;
  border-radius: 100px;
  padding: 15px 48px;
  font-family: var(--inter);
  color: var(--colorText);
  cursor: pointer;
}

/*Body*/
/*infomations*/
#containerBody{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#informs{
  display: flex;
  width: 1010px;
  text-align: center;
  margin-top: 235px;
}
#descripition{
  display: block;
}
p{
  font-size: 24px;
  font-family: var(--inter);
  margin-bottom: 24px;
}
h1{
  font-size: 64px;
  font-family: var(--lora);
  margin-bottom: 80px;
  color: var(--colorText);
}
/*Buttons*/
#createMemoji{
  padding: 15px 48px;
  font-size: 24px;
  border: none;
  color: #f9f9f9;
  background-color: #6610F2;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 600;
}
#library{
  padding: 15px 48px;
  font-size: 24px;
  margin-left: 72px;
  border-radius: 6px;
  border: 2px solid var(--borderIcons);
  background-color: #fff;
  color: var(--colorText);
  text-transform: uppercase;
  font-weight: 600;
}

/*memojis*/
.memojis{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#memojisRight{
  margin-left: 18px;
  margin-top: -52px;
}
#memojisLeft{
  padding-right: 25px;
}
#memojisDown{
  display: flex;
  position: relative;
  width: 990px;
  justify-content: space-between;
  top: 675px;
  margin: auto;
}
#yoru{
  position: relative;
  left: 25px;
}
#raze{
  position: relative;
  top: 75px;
}

/*final informs*/

#informsBaseboard{
  position: relative;
  display: flex;
  align-items: center;
  top: 942px;
  justify-content: space-between;
  width: 1128px;
  margin: auto;
}
#informsBaseboard h5{
  font-size: 20px;
  font-family: var(--lora);
  color: var(--colorText);
  border-left: solid 3px #6610F2;
  padding-left: 12px;
  text-transform: uppercase;
}
#informsBaseboard p{
  font-size: 16px;
  margin-top: 25px;
  font-family: var(--inter);
  color: var(--colorText);
  font-style: italic;
  line-height: 162.5%;
}
.baseboard{
  width: 400px;
}

@media(max-width: 1000px){
  /*header*/
  header{
    width: 90%;
    margin: 17px auto;
  }
  .memojis{
    display: none;
  }
  #memojisDown{
    display: none;
  }
  #search{
    padding: 7.2px;
    border-radius: 50%;
  }
  #searchImg{
    width: 15px;
  }
  h3{
    display: none;
  }
  h1{
    font-size: 32px;
    font-family: var(--lora);
    margin-bottom: 40px;
    color: var(--colorText);
  }
  #searchAndUserLogin{
    display: flex;
    align-items: center;
    width: 75px;
    justify-content: space-between;
  }
  #loginUser{
    background-image: url(./assets/user.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    border-radius: 50%;
  }
  #informs{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 59px;
  }
  #containerBody{
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  /*final informs*/
  #informsBaseboard{
    display: flex;
    flex-direction: column;
    top: 64px;
    justify-content: space-between;
    width: 90%;
  }
  #informsBaseboard h5{
    font-size: 16px;
    padding-left: 15px;
  }
  .baseboard{
    width: 100%;
  }
  #buttons{
    display: flex;
    flex-direction: column;
  }
  #library{
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 16px;
    margin-left: 0;
  }
  #createMemoji{
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 16px;
    margin-left: 0;
  }
}
